#overlay2s {
   background-image: url(/assets/images/1024px/bg_beachphoto.png);
   background-position: center;
   background-repeat: repeat-x;
   width: 100%;
   height: 915px;
}
#overlays {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

    /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+30,ffffff+100,ffffff+100&amp;0+30,0.1+30,0.65+100 */
   background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 30%, rgba(255,255,255,0.65) 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.65))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 30%,rgba(255,255,255,0.65) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 30%,rgba(255,255,255,0.65) 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 30%,rgba(255,255,255,0.65) 100%); /* IE10+ */
   background: radial-gradient(ellipse at center,  rgba(255,255,255,0.1) 30%,rgba(255,255,255,0.65) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#a6ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* CSS for imaage source */
#logo {
   width: 200px;
   height: 47px;
   background:url(/assets/images/weblogo.png) no-repeat;
}
#mockup {
   width: 529px;
   height: 517px;
   background:url(/assets/images/mockup.png) no-repeat;
}
#hashtag {
   width: 105px;
   height: 28px;
   background:url(/assets/images/oninstagram.png) no-repeat;
}
#instapic01 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic01.png) no-repeat;
}
#instapic02 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic02.png) no-repeat;
}
#instapic03 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic03.png) no-repeat;
}
#instapic04 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic04.png) no-repeat;
}
#instapic05 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic05.png) no-repeat;
}
#instapic06 {
   width: 260px;
   height: 260px;
   background:url(/assets/images/instapic06.png) no-repeat;
}

/* CSS for serving the retina image to devices with a high "device-pixel-ratio": */
@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-devicepixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
   #logo {
      width: 200px;
      height: 47px;
      background:url(/assets/images/weblogo@2x.png) no-repeat;
      background-size: 202.5px 23px;
   }
   #mockup {
      width: 515px;
      height: 503px;
      background:url(/assets/images/mockup@2x.png) no-repeat;
      background-size: 515px 503px;
   }
   #hashtag {
      width: 105px;
      height: 27px;
      background:url(/assets/images/oninstagram@2x.png) no-repeat;
      background-size: 105px 27px;
   }
   #instapic01 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic01@2x.png) no-repeat;
      background-size: 260px 260px;
   }
   #instapic02 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic02@2x.png) no-repeat;
      background-size: 260px 260px;
   }
   #instapic03 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic03@2x.png) no-repeat;
      background-size: 260px 260px;
   }
   #instapic04 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic04@2x.png) no-repeat;
      background-size: 260px 260px;
   }
   #instapic05 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic05@2x.png) no-repeat;
      background-size: 260px 260px;
   }
   #instapic06 {
      width: 260px;
      height: 260px;
      background:url(/assets/images/instapic06@2x.png) no-repeat;
      background-size: 260px 260px;
   }
}
