/* Basic Styles */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button {
   font-family: "Work Sans";
   font-weight: 200;
   color: #000000;
   text-align: center;
   margin-top: 0;
   margin-bottom: 0;
}
h2, .h2 {
   font-size: 26px;
   letter-spacing: 0.26px;
   line-height: 140%;
}
h3, .h3 {
   font-size: 22px;
   letter-spacing: 0.22px;
   line-height: 140%;
}
h4, .h4 {
   font-size: 18px;
   letter-spacing: 0.18px;
   line-height: 170%;
}
h5, .h5 {
   font-size: 28px;
   letter-spacing: 0.28px;
   line-height: 140%;
   font-weight: 400;
}
h6, .h6 {
   font-size: 20px;
   letter-spacing: 0.20px;
   line-height: 170%;
   color: #898989;
   font-weight: 200;
}
@media (max-width: 767px) {
   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button {
      font-weight: 300;
   }
   h2, .h2 {
      font-size: 20px;
      letter-spacing: 0.2px;
      line-height: 160%;
   }
   h3, .h3 {
      font-size: 18px;
      letter-spacing: 0.18px;
      line-height: 160%;
   }
   h5, .h5 {
      font-size: 20px;
      letter-spacing: 0.20px;
      line-height: 160%;
   }
   h6, .h6 {
      font-size: 16px;
      letter-spacing: 0.16px;
      line-height: 170%;
   }
}

header {
   display: block;
   width: 100%;
   width: 100vw;
}
#background {
   position: absolute;
   background-image: url(/assets/images/bg_beachphoto.png);
   background-repeat: no-repeat;
   background-position: top;
   z-index: -1;
   width: 100%;
}
#heart {
   position: absolute;
   display: none;
}
#sohooot {
   position: absolute;
   display: none;
}
#yesiam {
   position: absolute;
   display: none;
}
#bubblics {
   position: relative;
   height: 4000px;
}
.bubblics {
   position: absolute;
   margin-left: -462px;
   bottom: 0vh;
   left: 50vw;
   padding: 0px;
}
#mockup {
   width: 515px;
   height: 503px;
}
@media (max-width: 893px) {
   #mockup {
      display: none;
   }
}
#logo-block {
   width: 310px;
   display: inline-block;
   vertical-align: bottom;
   margin-left: 50px;
   margin-bottom: 43px;
}
#logo {
   width: 200px;
   height: 47px;
}
#description {
   text-align: left;
   padding-top: 25px;
   padding-bottom: 25px;
}
#store-block {
   padding-left: 0px;
   margin-left: 0px;
}
#app-store {
   display: inline-block;
   width: 132px;
   height: 40px;
   margin-right: 15px;
   margin-left: -2px;
   margin-top: -2px;
   margin-bottom: -2px;
   background-image: url(/assets/images/appbutton_appstore_soon_s@2x.png);
   background-size: 132px 40px;
   background-repeat: no-repeat;
}
#play-store {
   display: inline-block;
   width: 132px;
   height: 40px;
   margin: -2px;
   background-image: url(/assets/images/appbutton_googleplay@2x.png);
   background-size: 132px 40px;
   background-repeat: no-repeat;
}
@media (max-width: 893px) {
   .bubblics {
      width: 100%;
      margin: auto;
      bottom: 0;
      left: 0;
   }
   #logo-block {
      display: block;
      margin: auto;
      vertical-align: bottom;
   }
   #logo {
      display: block;
      margin: auto;
   }
   #description {
      text-align: center;
   }
   #store-block {
      padding-right: 0px;
   }
   #app-store {
      margin-left: 15px;
   }
}

#pickupline-text {
   padding-top: 80px;
   padding-bottom: 37px;
}
@media (max-width: 767px) {
   #pickupline-text {
      padding-top: 38px;
      padding-bottom: 23px;
   }
}

#screenshots {
   width: 986px;
   margin-bottom: 70px;
}
.screenshots {
   width: 275px;
   height: 485px;
   border-image-width: 0;
   margin-left: 18px;
   margin-right: 18px;
}
@media (max-width: 985px) {
   #screenshots {
      width: 310px;
      margin-bottom: 25px;
   }
   .screenshots {
      width: 275px;
      height: 485px;
      border-image-width: 0;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
   }
}

#features {
   background-color: #f15f26;
   padding-top: 70px;
   padding-bottom: 70px;
}
#emoji {
   width: 221px;
   height: 80px;
   margin-bottom: 30px;
}
#emoji-text {
   max-width: 470px;
   color: #ffffff;
}
#mainmenu {
   width: 221px;
   height: 119px;
   margin-top: 60px;
   margin-bottom: 30px;
}
#mainmenu-text {
   max-width: 470px;
   color: #ffffff;
}
@media (max-width: 767px) {
   #features {
      padding-top: 45px;
      padding-bottom: 45px;
   }
   #mainmenu {
      margin-bottom: 20px;
   }
   #emoji {
      margin-top: 45px;
      margin-bottom: 20px;
   }
}

#instagram {
   padding-top: 70px;
   padding-bottom: 70px;
}
#hashtag {
   width: 86.5px;
   height: 30.5px;
   background:url(/assets/images/oninstagram@2x.png) no-repeat;
   background-size: 86.5px 30.5px;
   margin-bottom: 30px;
}

#samples {
   width: 908px;
}
@media (max-width: 907px) {
   #samples {
      width: 614px;
   }
}
@media (max-width: 613px) {
   #samples {
      width: 320px;
   }
}
.samples {
   width: 260px;
   height: 260px;
   margin: 15px;
}

/* Modal Style */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content {
   -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
   -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
   -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
   box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.modal-backdrop {
   opacity:0.1 !important;
}
*:focus{
   outline: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:   #cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #cccccc;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #cccccc;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #cccccc;
}
textarea, input[type="text"] {
   -webkit-appearance: none;
}

.modal-content {
   width: 750px;
   height: 320px;
   border: none;
   border-radius: 3px;
   margin-left: -75px;
}
#modal-close {
   display: inline-block;
   width: 51px;
   height: 51px;
   background-image: url(/assets/images/popup_delete@2x.png);
   background-size: 51px 51px;
   background-repeat: no-repeat;
   position: absolute;
   top: 0px;
   right: 0px;
}
#modal-title {
   padding-top: 64px;
}
#modal-description {
   padding-top: 30px;
}
#modal-thank-you {
   position: absolute;
   display: none;
   text-align: center;
   width: 750px;
   margin-top: 35px;
   color: #f15f26;
   font-weight: 400;
   font-size: 30px;
}
#modal-input {
   position: absolute;
   margin-top: 20px;
   margin-left: 70px;
   padding-left: 20px;
   width: 400px;
   height: 70px;
   border-radius: 3px;
   border: 1px solid;
   border-color: #cccccc;
   color: #000000;
   font-size: 20px;
   font-weight: 200;
   letter-spacing: 1.5px;
}
#modal-submit {
   position: absolute;
   margin-top: 20px;
   margin-left: 490px;
   width: 190px;
   height: 70px;
   border-radius: 3px;
   border: none;
   background: #f15f26;
   color: #ffffff;
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 0.5px;
}
@media (max-width: 830px) {
   #modal-title {
      padding-top: 26px;
      font-weight: 400;
   }
   #modal-description {
      padding-top: 17px;
      font-weight: 300;
      padding-left: 10px;
      padding-right: 10px;
   }
   #modal-thank-you {
      position: absolute;
      display: none;
      text-align: center;
      width: 300px;
      margin-top: 35px;
      color: #f15f26;
      font-weight: 400;
      font-size: 24px;
   }
   #modal-input {
      position: absolute;
      margin-top: 12px;
      margin-left: 27px;
      padding-left: 12px;
      width: 246px;
      height: 40px;
      border-radius: 2px;
      border: 1px solid;
      border-color: #cccccc;
      color: #000000;
      font-size: 15px;
      font-weight: 300;
      -webkit-appearance: none;
   }
   #modal-submit {
      position: absolute;
      margin-top: 62px;
      margin-left: 27px;
      width: 246px;
      height: 40px;
      border-radius: 2px;
      border: none;
      background: #f15f26;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.5px;
   }
   .modal-content {
      width: 300px;
      height: 160px;
      margin-left: 150px;
      border-radius: 2px;
   }
   #modal-close {
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
   }
}
@media (max-width: 767px) {
   .modal-content {
      width: 300px;
      height: 260px;
      margin-left: 0px;
      border-radius: 2px;
   }
}

#mixpanel {
  margin-bottom: 20px;
}
