h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: Work+Sans;
   font-weight: 100;
   color: #000000;
   text-align: center;
   margin-top: 0;
   margin-bottom: 0;
}
h2, .h2 {
   font-size: 26px;
   letter-spacing: 2px;
   line-height: 140%;
}
h4, .h4 {
   font-size: 18px;
   letter-spacing: 1.4px;
   line-height: 170%;
}
@media (max-width: 767px) {
   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: 200;
   }
   h2, .h2 {
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 160%;
   }
}

header {
   display: block;
   width: 100%;
   width: 100vw;
   height: 100%;
   height: 100vh;
   min-height: 100%;
   min-height: 100vh;
}
#background {
   position: absolute;
   background-image: url(/assets/images/1024px/bg_beachphoto.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   width: 100%;
   height: 85%;
   z-index: -1;
}
#instastckr {
   position: relative;
   width: 100%;
   width: 100vw;
   height: 100%;
   height: 100vh;
   min-height: 100%;
   min-height: 100vh;
}
.instastckr {
   position: absolute;
   margin-left: -462px;
   bottom: 0vh;
   left: 50vw;
}
#mockup {
   width: 505px;
   height: 487px;
}
#logo-block {
   width: 310px;
   display: inline-block;
   vertical-align: bottom;
   margin-left: 50px;
   margin-bottom: 43px;
}
#description {
   text-align: left;
   padding-top: 25px;
   padding-bottom: 25px;
}
#store-block {
   padding-left: 0px;
   margin-left: 0px;
}
#app-store {
   display: inline-block;
   width: 132px;
   height: 40px;
   margin-right: 30px;
   margin-left: -2px;
   margin-top: -2px;
   margin-bottom: -2px;
   background-image: url(/assets/images/1024px/appbutton_appstore.png);
   background-repeat: no-repeat;
}
#play-store {
   display: inline-block;
   width: 132px;
   height: 40px;
   margin: -2px;
   background-image: url(/assets/images/1024px/appbutton_googleplay.png);
   background-repeat: no-repeat;
}

#pickupline-text {
   padding-top: 61px;
   padding-bottom: 51px;
}
@media (max-width: 767px) {
   #pickupline-text {
      padding-top: 33px;
      padding-bottom: 23px;
   }
}

#screenshots {
   width: 986px;
   margin-bottom: 70px;
}
.screenshots {
   width: 280px;
   height: 490px;
   border-image-width: 0;
   margin-left: 18px;
   margin-right: 18px;
}
@media (max-width: 985px) {
   #screenshots {
      width: 310px;
      margin-bottom: 25px;
   }
   .screenshots {
      width: 280px;
      height: 490px;
      border-image-width: 0;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
   }
}

#features {
   background-color: #f15f26;
   padding-top: 70px;
   padding-bottom: 70px;
}
#mainmenu {
   width: 213px;
   height: 121px;
   margin-bottom: 30px;
}
#mainmenu-text {
   max-width: 470px;
   color: #ffffff;
}
#emoji {
   width: 227px;
   height: 82px;
   margin-top: 60px;
   margin-bottom: 30px;
}
#emoji-text {
   max-width: 470px;
   color: #ffffff;
}
@media (max-width: 767px) {
   #features {
      padding-top: 45px;
      padding-bottom: 45px;
   }
   #mainmenu {
      margin-bottom: 20px;
   }
   #emoji {
      margin-top: 45px;
      margin-bottom: 20px;
   }
}

#instagram {
   padding-top: 70px;
   padding-bottom: 70px;
}
#hashtag {
   width: 98px;
   height: 29px;
   margin-bottom: 30px;
   background-image: url(/assets/images/1024px/instastckr_oninstagram.png);
   background-repeat: no-repeat;
}
#samples {
   width: 908px;
}
.samples {
   width: 260px;
   height: 260px;
   margin: 15px;
}
@media (max-width: 907px) {
   #samples {
      width: 614px;
   }
}
@media (max-width: 613px) {
   #samples {
      width: 320px;
   }
}
